<a href="https://colab.research.google.com/github/Nicompag/ISYS5002_portfolio/blob/main/sql_shell.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SQL via Python

In this notebook we discuss all the CRUD operations on a SQLite 3 database in Python.

We assume some basic understanding ot SQL

## Import the library

In [6]:
import sqlite3

## Create a connection

We use the connect method and pass the name of the database

In [7]:
conn = sqlite3.connect("mytest.db")

## Create a cursor object

A cursor acts a middleware between a connection and SQL query

In [8]:
cursor = conn.cursor()

# Create Table

Use a common 'pattern'

1. Create a SQL command as a string
2. User cursor to execture the command
3. If needed fetch the results

In [9]:
query = """
  CREATE TABLE USER (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            name TEXT,
            age INTEGER
        );
"""

In [10]:
cursor.execute(query)

# Insert into Table

In [20]:
query = "INSERT INTO user VALUES (0, 'Michael', 21);"

In [21]:
cursor.execute(query)

## Fetching Data

In [13]:
query = "SELECT * FROM user;"

cursor.execute(query)

In [14]:
result = cursor.fetchall()
result[0]

(1, 'Michael', 21)

## Updating Data

In [15]:
query = """
UPDATE user SET name = "Batman" WHERE name = 'Michael';
"""

In [16]:
conn.execute(query)

In [22]:
query = "SELECT * FROM user;"
cursor.execute(query)
result = cursor.fetchall()
result

[(0, 'Michael', 21), (1, 'Batman', 21)]

## Delete Data

In [23]:
query = """
DELETE FROM user WHERE name = 'Batman';
"""
conn.execute(query)
query = "SELECT * FROM user;"
cursor.execute(query)
result = cursor.fetchall()
result

[(0, 'Michael', 21)]

## View Schema

In [24]:
query = "SELECT name FROM sqlite_master WHERE type = 'table';"
cursor.execute(query)
result = cursor.fetchall()
result

[('USER',), ('sqlite_sequence',)]

In [25]:
def get_tables(cursor):
  query = "SELECT name FROM sqlite_master WHERE type = 'table';"
  cursor.execute(query)
  result = cursor.fetchall()

  tables = []
  for item in result:
    tables.append(item[0])

  return(tables)

get_tables(cursor)

['USER', 'sqlite_sequence']

In [26]:
for table in get_tables(cursor):
  cursor.execute("PRAGMA table_info('%s')" % table)
  result = cursor.fetchall()
  print(table + ":" + str(result) + '\n')

USER:[(0, 'id', 'INTEGER', 1, None, 1), (1, 'name', 'TEXT', 0, None, 0), (2, 'age', 'INTEGER', 0, None, 0)]

sqlite_sequence:[(0, 'name', '', 0, None, 0), (1, 'seq', '', 0, None, 0)]

## Delete Table